@inherits LayoutComponentBase
<div class="page">
    <main>
        @* <div class="top-row px-4 w-100">
            @if (StandardModel.IsSettings)
            {
                <NavLink style="float: left" class="btn btn-primary" href="">Back To Home</NavLink>
            }

            else
            {
                <NavLink style="float: left" class="btn btn-primary" href="settings">Settings</NavLink>
            }
            <p>01.03.2024</p>
        </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
