@page "/"
@using SchoolProject1.Functionality
<html>
    <body>
        <div style="width: 100%; overflow:auto;" class="vh-100">
            <div style="width: 60%; border-right-style: solid; border-right-width: 1px; float: left" class="vh-100">
                <div style="width: 90%; float: left">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Column 1</th>
                                <th>Column 2</th>
                                <th>Column 3</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in TableValues)
                            {
                                <tr>
                                    <td>
                                        <input role="textbox" rows="1" @bind="item.Column1" />
                                    </td>
                                    <td>
                                        <input role="textbox" rows="1" @bind="item.Column2" />
                                    </td>
                                    <td>
                                        <input role="textbox" rows="1" @bind="item.Column3" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div style="width: 10%; float: right">

                <br />
                <br />

                @for (int i = 0; i < TableValues.Count; i++)
                {
                    var j = i;

                    <button class="btn btn-outline-danger center" style="margin-left: 25%; margin-right: 25%; width: 50%; margin-bottom: 8px" @onclick="(() => DeleteIndex(j))">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                        </svg>
                    </button>
                }
            </div>

            <button class="bi bi-plus btn btn-primary plus" @onclick="AddInstances">+</button>

            </div>
            <div style="width: 40%; border-bottom-style: solid; border-bottom-width: thin; float: right" class="h-50">
                <br/>

                <h1 style="width: 100%; text-align: center; font-size: 100px">@GetTime()</h1>
                <h2 style="width: 100%; text-align: center; font-size: 50px">@GetDate()</h2>
            </div>

            <div style="width: 40%; float: right" class="h-50">
                <textarea class="library vh-50" style="width: 100%" rows="8" />
            </div>
        </div>
    </body>
</html>

<style>
    .plus {
        margin-left: 45%;
        margin-top: 50px;
        align-content: center;
    }

    .center {
        text-align: center;
    }

    .library {
        font-size: 40px;
    }

    body {
        overflow: hidden;
    }

</style>

@code
{
    private List<TableValues3> _tableValues = new();

    private List<TableValues3> TableValues
    {
        get 
        {
            return _tableValues;
        }
        set 
        {
            _tableValues = value; 
        }
    }

    void AddInstances()
    {
        TableValues.Add(new());
    }

    void DeleteIndex(int i)
    {
        TableValues.RemoveAt(i);
    }

    string GetTime() => $"{DateTime.Now.Hour}:{DateTime.Now.Minute}:{DateTime.Now.Second}";
    string GetDate() => $"{DateTime.Now.Day}.{DateTime.Now.Month}.{DateTime.Now.Year}";
}
