@page "/settings"

<PageTitle>Settings</PageTitle>

<h1 class="w-100 text-center">Settings</h1>

<select class="form-select" aria-label="Default select example" style="width: 200px">
    @if (StandardModel.ColumnCount == 1)
    {
        <option selected @onselect="ChangeColumns1">1 Column</option>
    }

    else
    {
        <option @onselect="ChangeColumns1">1 Column</option>
    }

    @if (StandardModel.ColumnCount == 2)
    {
        <option selected @onselect="ChangeColumns2">2 Columns</option>
    }

    else
    {
        <option @onselect="ChangeColumns2">2 Columns</option>
    }

    @if (StandardModel.ColumnCount == 3)
    {
        <option selected @onselect="ChangeColumns3">3 Columns</option>
    }

    else
    {
        <option @onselect="ChangeColumns3">3 Columns</option>
    }

    @if (StandardModel.ColumnCount == 4)
    {
        <option selected @onselect="ChangeColumns4">4 Columns</option>
    }

    else
    {
        <option @onselect="ChangeColumns4">4 Columns</option>
    }

    @if (StandardModel.ColumnCount == 5)
    {
        <option selected @onselect="ChangeColumns5">5 Columns</option>
    }

    else
    {
        <option @onselect="ChangeColumns5">5 Columns</option>
    }

    @* <option @onselect="ChangeColumns2">2 Columns</option>
    <option selected @onselect="ChangeColumns3">3 Columns</option>
    <option @onselect="ChangeColumns4">4 Columns</option>
    <option @onselect="ChangeColumns5">5 Columns</option> *@
</select>

<p>@StandardModel.EditColumnCount(LocalColumnCount)</p>

@code 
{
    int LocalColumnCount { get; set; }

    protected override void OnInitialized()
    {
        StandardModel.IsSettings = true;
    }

    void ChangeColumns1() => LocalColumnCount = 1;
    void ChangeColumns2() => LocalColumnCount = 2;
    void ChangeColumns3() => LocalColumnCount = 3;
    void ChangeColumns4() => LocalColumnCount = 4;
    void ChangeColumns5() => LocalColumnCount = 5;

    object ConvertNumber(int i)
    {
        if (i == 1) return typeof(TableValues1);
        else if (i == 2) return typeof(TableValues2);
        else if (i == 3) return typeof(TableValues);
        else if (i == 4) return typeof(TableValues4);
        else if (i == 5) return typeof(TableValues5);
        else return null;
    }
}
