@page "/settings"
@inject NavigationManager _nav

<PageTitle>Settings</PageTitle>

<div class="top-row px-4 w-100">
    <a style="float: left" class="btn btn-primary" href="">Back To Home</a>
</div>

<br/>

<h1 class="w-100 text-center">Settings</h1>

<input type="text" class="input-group" style="width: 200px" @onchange="((e) => ChangeColumns1(e))" value="@StandardModel.ColumnCount" />

@code 
{
    int LocalColumnCount { get; set; } // = StandardModel.ColumnCount;

    protected override void OnInitialized()
    {
        StandardModel.IsSettings = true;
    }

    void ChangeColumns1(ChangeEventArgs e) 
    {
        int i = StandardModel.ColumnCount;

        if (int.TryParse(e.Value.ToString(), out int result) && result <= 5 && result >= 1)
        {
            i = result;
        }

        StandardModel.EditColumnCount(i);
    }

    void ChangeColumns2() => LocalColumnCount = 2;
    void ChangeColumns3() => LocalColumnCount = 3;
    void ChangeColumns4() => LocalColumnCount = 4;
    void ChangeColumns5() => LocalColumnCount = 5;

    object ConvertNumber(int i)
    {
        if (i == 1) return typeof(TableValues1);
        else if (i == 2) return typeof(TableValues2);
        else if (i == 3) return typeof(TableValues);
        else if (i == 4) return typeof(TableValues4);
        else if (i == 5) return typeof(TableValues5);
        else return null;
    }

    // void Refresh()
    // {
    //     _nav.Refresh();
    //     _nav.NavigateTo("");
    // }
}
